#============= thermal-engine ==============
allow thermal-engine sysfs:dir read;
allow thermal-engine sysfs:file { read write };
allow thermal-engine sysfs_devfreq:dir search;
allow thermal-engine sysfs_batteryinfo:dir r_dir_perms;
allow thermal-engine sysfs_batteryinfo:file rw_file_perms;
